.grid {
  display: grid;

  grid-template-areas: 
  "header header"
  "nav content";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 1.5fr 10fr;
  grid-gap:10px;
}

.smth {
  height:10rem;
  background-image: url("https://static-cse.canva.com/blob/572626/1.magebyRodionKutsaevviaUnsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.d-grid{
  grid-template-columns: 1fr 5fr !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar {
  background-color: #FFF2CC;
}

.footer {
  margin-top: 10px;
  background-color: #FFF2CC;
  color:gray;
  padding:1%;
}
.footer p{
  margin:0;
}

.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
}

.content {
  grid-area: content;
  margin: 20px;
}

.side-bar {
  background-color: #FFF2CC;
  font-family: 'Russo One', sans-serif;
  color:#1e5e31;
  text-align: left;
}

.nav-item{
  margin-left:1rem;
}

.img-container{
  height:8rem;
  width:8rem;
  background-image: url("https://pbs.twimg.com/profile_images/1638683834458726403/4BSZzW5q_400x400.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.decription-ul p {
  margin-bottom: 0.3rem;
}

.description h6{
  font-family: 'Russo One', sans-serif;
  color:#1e5e31;
}
.description {
  text-align: left;
  padding:1%;
}

ul {
  list-style-type: none;
  text-align: left;
}

ul h5{
  font-family: 'Russo One', sans-serif;
  color:#1e5e31;
}

p {
  font-size: 0.8rem;
}

.post-form {
  text-align: left;
}

.submit-button {
  text-align: right;
}

.submit-button img {
  height: 1rem;
  text-align: center;
}
